.flex-child{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 2px;
    align-items: center;

 
}
.containr{
    border: black 1px solid;
    display: flex;
    align-items: center;
    

}


.colum{
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    flex-grow: 1;
}
.box2, .box3{
    flex-grow: 1;
}
